apiVersion: v1
kind: Service
metadata:
  name: {{ include "kube-mind.fullname" . }}-inference
  labels:
    app: {{ include "kube-mind.fullname" . }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.grpcPort }}
      targetPort: grpc
      protocol: TCP
      name: grpc
    - port: {{ .Values.service.metricsPort }}
      targetPort: metrics
      protocol: TCP
      name: metrics
  selector:
    app: {{ include "kube-mind.fullname" . }}-inference
